/.vs/EducationProject/v16/.suo
/.vs/EducationProject/v16/Server/sqlite3/db.lock
/.vs/EducationProject/v16/Server/sqlite3/storage.ide
/.vs/EducationProject/v16/Server/sqlite3/storage.ide-shm
/.vs/EducationProject/v16/Server/sqlite3/storage.ide-wal
/DateTimeCalculator/bin/Debug/DateTimeCalculator.dll
/DateTimeCalculator/bin/Debug/DateTimeCalculator.pdb
/DateTimeCalculator/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/DateTimeCalculator/obj/Debug/DateTimeCalculator.csproj.CopyComplete
/DateTimeCalculator/obj/Debug/DateTimeCalculator.csproj.CoreCompileInputs.cache
/DateTimeCalculator/obj/Debug/DateTimeCalculator.csproj.FileListAbsolute.txt
/DateTimeCalculator/obj/Debug/DateTimeCalculator.csprojAssemblyReference.cache
/DateTimeCalculator/obj/Debug/DateTimeCalculator.dll
/DateTimeCalculator/obj/Debug/DateTimeCalculator.pdb
/DateTimeCalculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
